@model IndexViewModel
@inject MemberApi.Models.Services.ProfileOptionsService options
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Profile);
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Manage" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.ContactId" />
            <input type="hidden" asp-for="Contact.Email" />
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.City" class="control-label"></label>
                <input asp-for="Contact.City" class="form-control" />
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.State" class="control-label">State (US)</label>

                @Html.DropDownList("Contact.State",
options.ListStates().Select(s =>
new SelectListItem() { Text = s.Name, Value = s.Code }),"Select a State",
                    new { @class = "form-control" })
                <span asp-validation-for="Contact.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Zip" class="control-label"></label>
                <input asp-for="Contact.Zip" class="form-control" />
                <span asp-validation-for="Contact.Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save Contact" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
